* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace, sans-serif;
}

body {
  min-height: 100vh;
  max-height: 100vh;
  background-color: rgb(43, 128, 157);
  transition: 1s 0.5s;
  overflow: hidden;
}

.menu {
  min-height: 100vh;
}

.menu__title {
  text-align: center;
  font-size: 55px;
  padding: 8vh;
}

.menu__levels {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(
    to top right,
    #ff5722,
    red,
    #ff5722,
    #e25a72
  );
  width: 35vw;
  margin: 0 auto;
  padding: 20px;
  border: 5px solid black;
}

.menu__choose-level {
  text-align: center;
  margin: 15px 0 50px;
  font-size: 28px;
}

.menu__btn {
  width: 20vw;
  margin: 0px auto;
  padding: 10px 20px;
  text-transform: uppercase;
  color: #555;
  font-size: 28px;
  cursor: pointer;
}

.menu__btn:hover {
  background-color: #fff;
  color: black;
  border: 2px solid black;
}

.menu__btn--start {
  margin: 50px auto 30px;
  font-size: 32px;
  padding: 15px;
  background-color: #fff;
  color: black;
}
.game {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95vw;
  height: 95vh;
  z-index: -1;
}

.game__statistics--timer,
.game__wrapper {
  position: absolute;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.game__wrapper {
  top: 0;
  left: 0;
  font-size: 20px;
}

.game__statistics--timer {
  top: 0;
  right: 0;
  font-size: 30px;
}

.dot {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
}

/* div {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
}

div:hover {
  background-color: red;
} */
/* 
.results {
  position: absolute;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transition: 1s;
  opacity: 0;
}

.afterGame {
  opacity: 1;
  transition: 1s;
}

main.afterGame {
  background-color: rgba(0, 0, 0, 0.5);
  transition: 3s;
}

button.afterGame {
  position: absolute;
  bottom: 30%;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px 50px;
  font-size: 45px;
  border: 2px solid black;
  text-transform: uppercase;
  cursor: pointer;
} */
