* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace, sans-serif;
}

html {
  cursor: crosshair;
}

body {
  min-height: 100vh;
  max-height: 100vh;
  background-image: linear-gradient(
    to right,
    rgb(43, 128, 157),
    rgb(127, 127, 217),
    rgb(43, 128, 157)
  );
  transition: 1s 0.5s;
  overflow: hidden;
}

.menu {
  min-height: 100vh;
}

.menu__title,
.title {
  text-align: center;
  font-size: 55px;
  padding: 8vh;
}

.menu__levels {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(
    to top right,
    rgb(43, 128, 157),
    rgb(150, 150, 199)
  );
  width: 35vw;
  margin: 0 auto;
  padding: 20px;
  border: 5px solid black;
}

.menu__choose-level {
  text-align: center;
  margin: 15px 0 50px;
  font-size: 28px;
}

.menu__btn {
  width: 20vw;
  margin: 0px auto;
  padding: 10px 20px;
  text-transform: uppercase;
  color: #555;
  font-size: 28px;
  cursor: pointer;
  transition: 0.3s;
}

.menu__btn--start {
  margin: 50px auto 30px;
  font-size: 32px;
  padding: 15px;
  background-color: #fff;
  color: black;
}

.menu__btn--checked {
  background-image: linear-gradient(
    to right,
    rgb(43, 128, 157),
    rgb(199, 109, 109)
  );
  color: #fff;
}

.menu__btn:hover {
  background-image: linear-gradient(
    to right,
    rgb(43, 128, 157),
    rgb(199, 109, 109)
  );
  color: #fff;
}

.menu__btn--start:hover {
  background-image: linear-gradient(
    to right,
    rgb(255, 255, 255),
    rgb(224, 224, 224)
  );
  color: black;
}

.game {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95vw;
  height: 95vh;
  z-index: -1;
}

.game__wrapper {
  position: absolute;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.game__wrapper {
  top: 0;
  left: 0;
  font-size: 20px;
}

.dot {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
}

.result {
  min-height: 100vh;
}

.result__title {
}

.visible {
  opacity: 1;
}

.invisible {
  opacity: 0;
}
