* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace, sans-serif;
}

html {
  cursor: crosshair;
}

body {
  transition: 0.5s 1s;
  overflow: hidden;
}

.menu {
  min-height: 100vh;
  max-height: 100vh;
  background-image: linear-gradient(
    to right,
    rgb(43, 128, 157),
    rgb(127, 127, 217),
    rgb(43, 128, 157)
  );
  z-index: 0;
}

.menu.hide {
  animation: hideMenu 2s 1 forwards;
}

@keyframes hideMenu {
  0% {
    opacity: 1;
    cursor: crosshair;
  }
  99% {
    opacity: 0;
  }
  100% {
    cursor: crosshair;
    opacity: 0;
    z-index: -1;
  }
}

.menu__title {
  margin: 0 auto;
  padding: 8vh 10px 10px;
  width: 60vw;
  font-size: 55px;
  text-align: center;
  color: rgb(11, 9, 9);
  letter-spacing: 8px;
  box-shadow: 5px 5px 2px 1px;
}

.menu__levels {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 35vw;
  margin: 8vh auto;
  padding: 20px;
  background-image: linear-gradient(
    to top right,
    rgb(43, 128, 157),
    rgb(150, 150, 199)
  );
  border: 5px solid black;
  box-shadow: 1px 1px 5px black;
}

.menu__wrapper {
  text-align: center;
}

.menu__choose-level {
  margin: 15px auto 50px auto;
  padding: 5px;
  font-size: 28px;
  text-align: center;
  color: rgb(11, 9, 9);
}

.menu__btn {
  width: 20vw;
  margin: 0px auto;
  padding: 10px 20px;
  font-size: 28px;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.3s;
}

.menu__btn:hover {
  background-image: linear-gradient(
    to right,
    rgb(43, 128, 157),
    rgb(199, 109, 109)
  );
  color: #fff;
}

.menu__btn--play {
  margin: 50px auto 30px;
  padding: 15px;
  font-size: 32px;
  border: 2px solid black;
  animation: shakes 5s infinite linear;
  transition: 0.2s;
}

.menu__btn--play:hover {
  background-image: linear-gradient(
    to right,
    rgb(255, 255, 255),
    rgb(255, 255, 255)
  );
  color: black;
  text-shadow: 0px 0px 1px #050505;
  letter-spacing: 8px;
}

@keyframes shakes {
  0% {
    transform: translateX(0);
  }
  90% {
    transform: translateX(0);
  }
  91% {
    transform: translateX(20px);
  }
  92% {
    transform: translateX(-20px);
  }
  93% {
    transform: translateX(20px);
  }
  94% {
    transform: translateX(-20px);
  }
  95% {
    transform: translateX(20px);
  }
  96% {
    transform: translateX(-20px);
  }
  97% {
    transform: translateX(20px);
  }
  98% {
    transform: translateX(-20px);
  }
  99% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(0);
  }
}

.menu__btn--checked {
  background-image: linear-gradient(
    to right,
    rgb(43, 128, 157),
    rgb(199, 109, 109)
  );
  letter-spacing: 3px;
  color: #ffffff;
}

.menu__custom {
  position: absolute;
  top: 50%;
  right: -50%;
  display: none;
  transform: translate(50%, -50%);
  height: 90vh;
  width: 40vw;
  padding: 25px;
  box-shadow: 0 0 20px 4px rgb(11, 9, 9) k;
  background-image: linear-gradient(
    to top right,
    rgb(43, 128, 157),
    rgb(150, 150, 199)
  );
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
  transition: 0.3s;
}

.menu__custom--active {
  right: 50vw;
  display: flex;
}

.menu__back {
  position: absolute;
  top: 2%;
  right: 5%;
  font-size: 50px;
  cursor: pointer;
}

.menu__info {
  flex-basis: 100%;
  align-self: center;
  text-align: center;
  font-size: 40px;
  letter-spacing: 2px;
}

label,
input {
  flex-basis: 80%;
  align-self: center;
  padding: 10px 0;
  font-size: 25px;
  border: 2px solid black;
}

label {
  text-align: center;
  cursor: pointer;
}

input {
  flex-basis: 5%;
  text-align: center;
  border-left: none;
  background-color: #eee;
  transition: 0.2s;
}

input:focus {
  background-color: white;
  letter-spacing: 2px;
}

.menu__saveSettingsBtn {
  height: 80px;
  font-size: 30px;
  border: 2px solid black;
}

.menu__saveSettingsBtn:hover {
  background-image: linear-gradient(
    to right,
    rgb(255, 255, 255),
    rgb(255, 255, 255)
  );
  color: black;
  letter-spacing: 5px;
}

.game {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(43, 128, 157);
  z-index: -1;
  transition-delay: 3s;
}

div.countingToStart {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 70px;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  animation: countdownAnimation 1s 5 forwards;
}

@keyframes countdownAnimation {
  0% {
    font-size: 0px;
    opacity: 0;
  }

  50% {
    font-size: 90px;
    opacity: 1;
  }

  100% {
    font-size: 0px;
    opacity: 0;
  }
}

.game.show {
  z-index: 1;
}

.game__wrapper {
  position: absolute;
  top: 2%;
  left: 2%;
  font-size: 20px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.dot {
  position: absolute;
  width: 55px;
  height: 55px;
  border: 3px solid black;
  background-color: rgb(120, 17, 17);
  border-radius: 50%;
}

.result {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100vh;
  min-width: 100vw;
  background-image: linear-gradient(
    to right,
    rgb(43, 128, 157),
    rgb(127, 127, 217),
    rgb(43, 128, 157)
  );
  z-index: -2;
}

.result__title {
  text-transform: uppercase;
  font-size: 70px;
  box-shadow: none;
  text-shadow: 1px 1px 2px black;
}

.result__win {
  text-shadow: rgb(1, 64, 1);
}

.result__lost {
  color: rgb(200, 3, 3);
}

.result__statistics {
  width: 60vw;
  margin: 15vh auto;
  text-align: center;
  font-size: 32px;
}

p span.result__span {
  font-size: 38px;
}

.result__playAgain {
  display: block;
  font-size: 30px;
}

.result__playAgain:hover {
  background-color: #fff;
}
